body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

label, select {
    margin-top: 10px;
}

input, select {
    padding: 5px;
    margin: 5px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* tutor expertise */

#expertiseForm {
    display: flex;
    border: 1px solid red;
    width: 80%;
    margin: auto;
    flex-direction: column; 
}

  #result {
    margin-top: 20px;
    
  }

  /* Tutor online */

  .online {
    max-width: 400px;
    margin: 0 auto;
  }

 
  #availabilityResult {
    margin-top: 20px;
  }
 


  .hoverButton:hover{
    background-color: #555;
  }
  
